html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: transparent !important;
}


:root {
    --twentythree:clamp(15px, 1.2vw, 23px);
    --twentythreeLineHeight:calc(var(--twentythree) + .5vw);
    --fifty:clamp(40px, 3.125vw,50px);
    --fiftyLineHeight:calc(var(--fifty) + .6vw);
    --swiperText:clamp(12px,0.938vw, 13px);
    --swiperTextBold:clamp(13px,1.042vw, 17px);
    --twentytwo: clamp(13px,0.833vw ,22px);
    --buttonsPadding: calc(var(--twentytwo) * .80) calc(var(--twentytwo) * 2.3)!important;
    --eighteen: clamp(11px, 0.938vw, 18px) ;
    --intro1TextFontSize: clamp(14px, 1.406vw, 22px) ; 
    scroll-behavior: smooth;
    --carouselCaption:clamp(25px,2.083vw, 40px);
    --swiperTitle:clamp(30px,3.646vw,52px);
    --descFontSize: clamp(10px, 0.938vw, 18px);
    --discoverText:clamp(10px,0.83vw, 20px);
    --sixty: max(3.646vw, 30px);
    --pageTreeFontSize:max(0.833vw, 11px);
    --featuresFontSize:clamp(11px, 1.198vw, 18px);
    --solidButtonFontSize: clamp(11px, 0.938vw, 18px) ;
    --solidButtonLineHeight: calc(var(--solidButtonFontSize) + .5vw);
    --solidButtonPadding: calc(var(--solidButtonFontSize) * .80) calc(var(--solidButtonFontSize) * 2.3)!important;

  }




/* PAGE TREE */

.page-tree-line{
    height: 1.406vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 0.781vw;
    margin-left: 3.594vw;
}
.page-tree-item{
    color: #757575FF;
font-size: var(--pageTreeFontSize);
font-weight: 400;
line-height: calc(var(--pageTreeFontSize) + .5vw);
letter-spacing: 0em;
text-align: left;

}


/* SCROL TO TOP BUTTON */

.scroll-to-top {
    position: fixed;
    right: 50%;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 12;
  }


  /* HOTEL FEATURES SECTION */
.features-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.swiper-scrollbar ,.swiper-scrollbar-horizontal{
    opacity: 1!important;
}
.swiper-features{
    margin-bottom: 4vw;
    background-color: rgba(245, 245, 245, 1);

}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal{  
    position: relative!important;
    bottom: auto!important;

}
.swiper-scrollbar-horizontal{
    background: #e2e2e2!important;
}
.swiper-scrollbar-drag{
    background: rgba(23, 0, 0, 0.3)!important;
}
.features-slide a{
    padding: 1.406vw 1vw;
font-size: var(--featuresFontSize);
color: rgba(23, 0, 0, 0.5);
font-weight: 600;
line-height: 1.406vw;
letter-spacing: 0em;
text-align: center;

}
.features-slide:hover a{
    color: rgba(23, 0, 0, 1)!important;
    transition: color .4s ease-in-out;
}
.features-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: #170000;
    align-items: center;
    background-color: #F5F5F5;
}
.features-wrapper-desktop{
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;

    align-items: center;
    background-color: rgba(245, 245, 245, 1);
}
.features-div{
    display: none;
}
.features-desktop{
    width: 88.125vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.646vw;
    background-color: rgba(245, 245, 245, 1);
}
.features-desktop a{
    font-size: var(--featuresFontSize);
    color: rgba(23, 0, 0, 0.5);
    font-weight: 600;
    line-height: 1.406vw;
    letter-spacing: 0em;
    text-align: center;
    transition: all .4s ease-in-out;
    max-height: 80px;
    height: 4.167vw    ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-desktop a:hover{
    color: #170000;
}

 
@media screen and (max-width:863px) {
    .features-div{
        display: block;
    }
    .features-desktop{
        display: none;
    }
    .features-wrapper-desktop{
        margin-bottom: 0px;
    }
        }


        @media screen and (max-width:769px) {
    


            .features-slide{
                min-height: 30px;
            }
            .swiper-features{
                height: 100%;
            }
        }